$primary-bg: #1890ff;
$primary-lighten-bg: lighten($primary-bg, 7%);
$primary-darken-bg: darken($primary-bg, 5%);
$secondary-bg: #4d4d4d;
$secondary-lighten-bg: lighten($secondary-bg, 3%);
$secondary-darken-bg: darken($secondary-bg, 5%);
$secondary-border: 1px solid $secondary-bg;
$white: #fff;
$white-darken: darken($white, 45%);
$border-radius: 6px;

.button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: none;
  border-radius: $border-radius;
  max-width: fit-content;
  cursor: pointer;
  transition: all 0.15s linear;

  // VIEW
  &--view {
    &-primary {
      background: $primary-bg;
      color: $white;

      &:hover {
        background: $primary-lighten-bg;
      }

      &:active {
        background: $primary-darken-bg;
      }
    }

    &-secondary {
      background: transparent;
      border: $secondary-border;
      color: $white;

      &:hover {
        background: $secondary-lighten-bg;
      }

      &:active {
        background: $secondary-darken-bg;
      }
    }

    &-ghost {
      background: $secondary-bg;
      color: $white;

      &:hover {
        background: $secondary-lighten-bg;
      }

      &:active {
        background: $secondary-darken-bg;
      }
    }

    &-clear {
      background: transparent;
      color: $white;

      &:hover {
        background: $secondary-lighten-bg;
      }

      &:active {
        background: $secondary-darken-bg;
      }
    }
  }

  &--disabled {
    background: $secondary-bg;
    color: $white-darken;
    cursor: default;
    pointer-events: none;
  }

  &--width-full {
    max-width: none;
    width: 100%;
    gap: 0;
  }

  // SIZE
  &--size {
    &-s {
      padding: 0 16px;
      height: 32px;
      font-size: var(--size-text-s);
      gap: 12px;

      &.button--only-icon {
        max-width: none;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 32px;
        width: 32px;
      }
    }

    &-m {
      padding: 0 20px;
      height: 40px;
      font-size: var(--size-text-m);;
      gap: 14px;

      &.button--only-icon {
        max-width: none;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 40px;
        width: 40px;
      }
    }

    &-l {
      padding: 0 24px;
      height: 48px;
      font-size: var(--size-text-l);
      gap: 18px;

      &.button--only-icon {
        max-width: none;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 48px;
        width: 48px;
      }
    }
  }

  &__text {
    line-height: 1;
    text-align: center;
    width: 100%;
  }
}
