.icon {
  display: inline-block;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  line-height: 0;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }

  &--size {
    &-xs {
      min-width: var(--graphics-size-xs);
      max-width: var(--graphics-size-xs);
    }
    &-s {
      min-width: var(--graphics-size-s);
      max-width: var(--graphics-size-s);
    }
    &-m {
      min-width: var(--graphics-size-m);
      max-width: var(--graphics-size-m);
    }
    &-l {
      min-width: var(--graphics-size-l);
      max-width: var(--graphics-size-l);
    }
    &-xl {
      min-width: var(--graphics-size-xl);
      max-width: var(--graphics-size-xl);
    }
  }
}
