$size-xs: 12px;
$size-s: 16px;
$size-m: 24px;
$size-l: 32px;
$size-xl: 40px;

.icon {
  display: inline-block;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  line-height: 0;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentcolor;
  }

  &--size {
    &-xs {
      width: $size-xs;
    }
    &-s {
      width: $size-s;
    }
    &-m {
      width: $size-m;
    }
    &-l {
      width: $size-l;
    }
    &-xl {
      width: $size-xl;
    }
  }
}
